<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntm.generator.orm.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ntm.generator.orm.entity.User">
        <id column="id" property="id" javaType="INTEGER"/>
        <result column="name" property="name" javaType="string"/>
        <result column="password" property="password" javaType="string"/>
        <result column="salt" property="salt" javaType="string"/>
        <result column="email" property="email" javaType="string"/>
        <result column="phone_number" property="phoneNumber" javaType="string"/>
        <result column="status" property="status" javaType="INTEGER"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="last_login_time" property="lastLoginTime" javaType="java.util.Date"/>
        <result column="last_update_time" property="lastUpdateTime" javaType="java.util.Date"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, password, salt, email, phone_number, status, create_time, last_login_time, last_update_time
    </sql>

    <select id="list" resultType="com.ntm.generator.orm.entity.User">
        select
        <include refid="Base_Column_List"/>
        from orm_user
    </select>
</mapper>